* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#Day1 {
    border: 2.5px solid black;
    width: 150px;
    text-align: center;
}
   
#Day2 {
    border: 2.5px solid black;
    width: 150px;
    text-align: center;
}
#Day3 {
    border: 2.5px solid black;
    width: 150px;
    text-align: center;
}
#Day4 {
    border: 2.5px solid black;
    width: 150px;
    text-align: center;
}
#Day5 {
    border: 2.5px solid black;
    width: 150px;
    text-align: center;
}

